{
    "colorTabs.config": [
        {
            "regex": "allow/.*"
        },
        {
            "regex": "allow_internal/.*"
        },
        {
            "regex": "allow_tests/.*"
        }
    ]
}